body{
    background-color: antiquewhite;
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
}
.brand img{
    width: 65px;
}
/* Span tag  */
.brand span{
    font-size: 18px;
    margin: 23px;
    font-family: 'Courier New', Courier, monospace;
}

.brand{
    display: flex;
}



.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 4px;
    padding: 10px;
    background-image: url('Bitto1.jpeg');
}

nav ul li{
    padding: 0px 14px;
}

.bottom
{
    position: sticky;
    height: 169px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#myprogressBar{
    width: 80vw;
    cursor:pointer ;
    
}
.icons{
       margin: 21px;
}
.icons i{
    cursor: pointer;
}
.songItem{
    display: flex;
    height: 50px;
    background-color: white;
    width: 264px;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    border-radius: 2px;
}
.songItem img{
    padding: 5px;
}
.songinfo{
    position: absolute;
    left: 10vw;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}